html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header.header-mobile {
    display: none;
}

.btnMenu {
    width: 48px;
    height: 48px;
    padding: 8px 6px;
    border-radius: 4px;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnMenu.ver {
    opacity: 1;
    pointer-events: all;
}

.btnMenu span {
    width: 100%;
    height: 2px;
    background-color: #FFF;
    display: block;
    transition: .2s cubic-bezier(0, 0, 0, 1) all;
    transform-origin: center;
}

.btnMenu span:nth-child(2) {
    margin: 5px 0;
}

.btnMenu.on span:first-child {
    transform: rotate(45deg) translateY(5px) translateX(5px);
}

.btnMenu.on span:nth-child(2) {
    opacity: 0;
}

.btnMenu.on span:nth-child(3) {
    transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

.menu-custom-mobile {
    background-color: #303841;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transform: translateY(-100%);
    transition: all ease .8s;
}

.menu-custom-mobile.mostrar {
    transform: translateY(0);
}

.menu-custom-mobile ul li a {
    color: #ffffff;
    font-size: 18px;
    opacity: 0.6;
    transition: all ease .2s;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-custom-mobile ul li{
    list-style: none;
}

.menu-custom-mobile ul li.active a {
    opacity: 1;
}

.menu-custom-mobile ul li a:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
}

.menu-custom-mobile .nav-mobile {
    padding: 40px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;    /* justify-content: center; */
    opacity: 0;
    transition: all ease .4s;
    transition-delay: 0.8s;
}

.menu-custom-mobile .nav-mobile.mostrar {
    opacity: 1;
}

.nav-mobile .subitem {
    font-size: 16px;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 5px;
}

.header-mobile {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #303841;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 1px 10px 16px -12px rgba(48, 56, 65, 0.75);
    -webkit-box-shadow: 1px 10px 16px -12px rgba(48, 56, 65, 0.75);
    -moz-box-shadow: 1px 10px 16px -12px rgba(48, 56, 65);
}

.header-mobile a img {
    max-height: 40px !important;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(101%);
}

.header-mobile.open {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.nav-desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
    z-index: 22;
}

.nav-desktop.scrollNav {
    background-color: rgb(48, 56, 65);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    justify-content: flex-end;;
    box-shadow: 1px 10px 16px -12px rgba(48, 56, 65, 0.75);
    -webkit-box-shadow: 1px 10px 16px -12px rgba(48, 56, 65, 0.75);
    -moz-box-shadow: 1px 10px 16px -12px rgba(48, 56, 65);
}

.nav-desktop .logo-header {
    height: 60px;
    display: none;
}

.nav-desktop .logo-header.mostrar {
    display: flex;
}

.nav-desktop ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
}

.nav-desktop ul li {
    height: 25px;
    display: flex;
    align-items: center;
}

.nav-desktop ul li a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-family: 'univia_proregular';
}

.nav-desktop ul li .nav-link.active {
    font-weight: 700;
}

.nav-desktop ul li:not(:last-child) {
    border-right: solid 1px var(--text-green) !important;
}

.nav-desktop ul li.br-0 {
    border-right: 0 !important;
}

.nav-desktop ul li .nav-link[data-toggle="dropdown"] {
    background-color: #011f21;
    color: #fff;
    border-radius: 4px;
}

.nav-desktop .dropdown-menu {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 5px 0 0;
    border-radius: 0;
}

.nav-desktop .dropdown-menu a {
    padding: 6px 22px;
    color: #fff;
    background-color: #011f21;
}

.nav-desktop .dropdown-menu a:first-child {
    border-bottom: solid 1px #fff;
    border-radius: 4px 4px 0 0;
}

.nav-desktop .dropdown-menu a:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: solid 1px #fff;
}

.nav-desktop .dropdown-menu a:hover {
    background-color: var(--green);
}

.nav-desktop.scrollNav .dropdown-menu {
    padding: 0 10px;
    margin-right: 45px;
}


/* section[id] {
    scroll-margin-top: 50px;
}
 */

#home{
    background-color: rgb(58, 71, 80);
    padding: 100px 60px 80px 60px;    
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.img-splash{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-splash img{
    width: 100%;
    max-width: 350px;
    max-height: 100%;
}

.title {
    padding-top: 40px;
    color: #EEEEEE;
    width: 100%;
}

.title h2 {
    font-size: 5rem;
    font-family: 'monument_extendedultrabold';
    line-height: 100%;    
    margin:5px;
}

.title h3 {
    font-family: 'monument_extendedregular';
    line-height: 100%;
    font-size: 3rem ;
    color: rgba(238,238,238, 0.5);
    margin-bottom: 0;
}

.title .dev {
    background-color: #EEEEEE;
    color: #3A4750;
    width: 100%;
    font-family: 'univia_proregular';
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    max-width: 600px;
}

.title .dev h1 {
    font-size: 1.7rem;
    align-self: center;
    margin-bottom: 0;
}

.i-skill {
    display: flex;
    font-size: 60px;
    color: rgba(238,238,238, 0.1);
    padding-top: 20px;
    justify-content: flex-end;
    width: 100%;
    max-width: 600px;

}

.i-skill i:not(:last-child){
    padding-right: 10px;
}


/*     SOBRE MI      */

.sobreMiCont{
    display:flex;
    padding: 100px 60px 80px 60px; 
}

.sobreMi{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.titulares {
    font-family: 'monument_extendedregular';
    font-size: 35px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}

.sobreMi .titulares {
    text-align: left !important;
    margin-left: 0 !important;
}

.sobreMi p {
    font-family: 'univia_proregular';
    padding-bottom: 20px;
}

.sobreMi a {
    background-color:#F6C90E;
    border: solid 2px #f6c90e;
    width: 170px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'univia_proregular';
    color: rgb(58, 71, 80) !important;
    text-align: center;
    font-weight: 600;
    align-items: center;
    cursor:pointer;
    transition: all ease .3s;
}

.sobreMi a:hover{
    background-color:#ffffff;
    text-decoration: none !important;

}

.sobreMi span {
    font-size: 11px;
    margin-top: 3px;
    color: #3A4750;
    font-family: 'univia_proregular';

}


/*     SKILLS      */
.contSkill {
    display: flex;
    flex-direction: column;
    padding: 0px 60px 80px 60px; 
}

.contSkill .skill{
    margin-bottom: 15px;
}

.contSkill .col-lg-3.col-md-4.col-sm-12{
    padding-left: 0 !important;
}

.skill h5 {
    margin: 0px 5px;
    font-family: 'univia_proregular';
    font-size: 16px;
}

.progressCont {
    background-color: white;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    display: flex;
    height: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .40);
    margin: 5px;
}

.progress{
    background-color: #F6C90E !important;
    height: 6px !important;
    border-radius: 100px;
    padding-right: 3px;
}


.load1{
    animation: load1 3s normal forwards;
}

.load2{
    animation: load2 3s normal forwards;
}
.load2a{
    animation: load2a 3s normal forwards;
}
.load2b{
    animation: load2b 3s normal forwards;
}
.load2c{
    animation: load2c 3s normal forwards;
}

.load2d{
    animation: load2c 3s normal forwards;
}

.load3{
    animation: load3 3s normal forwards;
}
.load4{
    animation: load4 3s normal forwards;
}
.load5{
    animation: load5 3s normal forwards;
}
.load6{
    animation: load6 3s normal forwards;
}
.load7{
    animation: load7 3s normal forwards;
}
.load8{
    animation: load8 3s normal forwards;
}

@keyframes load1 {
    0% { width: 0; }
    100% { width: 90%; }
}

@keyframes load2 {
    0% { width: 0; }
    100% { width: 65%; }
}

@keyframes load2a {
    0% { width: 0; }
    100% { width: 65%; }
}

@keyframes load2b {
    0% { width: 0; }
    100% { width: 65%; }
}

@keyframes load2c {
    0% { width: 0; }
    100% { width: 75%; }
}

@keyframes load2d {
    0% { width: 0; }
    100% { width: 70%; }
}

@keyframes load3 {
    0% { width: 0; }
    100% { width: 75%; }
}


@keyframes load4 {
    0% { width: 0; }
    100% { width: 100%; }
}


@keyframes load5 {
    0% { width: 0; }
    100% { width: 70%; }
}


@keyframes load6 {
    0% { width: 0; }
    100% { width: 90%; }
}


@keyframes load7 {
    0% { width: 0; }
    100% { width: 90%; }
}


@keyframes load8 {
    0% { width: 0; }
    100% { width: 60%; }
}




/*     PROYECTOS      */
.proyectos {
    min-height: 100vh;
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    padding: 100px 60px 80px 60px;
    flex-direction: column;
    overflow: hidden;
}

.card {
    display: flex;
    width: 100%;
    height: auto;   
    padding: 60px; 
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 20px;
}


.contImg{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.imgCard{
    max-width: 100%;
    filter: grayscale(100%);
    transition: all ease 0.3s;
    cursor: pointer;
}

.imgCard:hover {
    filter: grayscale(0%);
}

.descrip-card h4 {
    font-family: 'monument_extendedregular';
    font-size: 24px;
    border-bottom: solid 2px #F6C90E;
    margin-bottom: 5px;
    line-height: 115%;
    padding-bottom: 7px;
}

.descrip-card p {
    line-height: 130% !important;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'univia_proregular';
    margin-bottom: 35px;
}

.tools{
    margin-bottom: 20px;
}

.tools i{
    color: rgba(58,71,80, 0.3);
    font-size: 25px;
}


.btn-card {
    padding: 8px 13px;
    text-decoration: none;
    background-color:#303841;
    font-size: 13px;
    cursor: pointer;
    color: #EEEEEE ;
    font-family: 'monument_extendedregular';    text-transform: uppercase;
    cursor: pointer;
    margin-right: 5px;
    transition: all ease .3s;
}

.btn-card a i {
    font-size: 20px;
    cursor: pointer;
}

.btn-card:hover {
    background-color: #F6C90E;
    color: #303841 !important;
    text-decoration: none;
}


/*     CONTACTO      */

.contacto{
    background-color: #303841;
    padding: 100px 60px 80px 60px;
}

.contacto .titulares{
    color: #ffffff !important;
}

.titulo{
    font-family: 'monument_extendedregular';
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
    background-color: #303841;
    padding-top: 20px;
}

form  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eeeeee;
    padding: 50px 40px;
}


.btn {
    background-color: #F6C90E !important;
    border: solid 2px #f6c90e !important;
    width: 120px !important;
    padding: 8px 12px;
    font-size: 14px !important;
    font-family: 'univia_proregular';
    color: rgb(58, 71, 80) !important;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: all ease .3s;
    margin-right: 0;
}

.btn:hover {
    background-color:#eeeeee !important;
  
}

.form-control{
    border: none !important;
    border-radius: 0 !important;

}

.form-control:focus{
    box-shadow: none !important;
    border: none;
    outline: none;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info h3{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}

.info a, .info p{
    color: #ffffff;
    font-size: 17px;
    transition: all ease .3s;
    margin-bottom: 0 !important;
}

.info a:hover{
    color: #F6C90E;
    text-decoration: none !important;
}


.info .links{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: solid 1px #ffffff;
    max-width: 280px;
}

.info .links a{
    margin-right: 10px;
    width: 25px;
    fill: rgba(238, 238, 238, 0.3);
    transition: all ease .3s;
}

.info .links a:hover{
    fill: #F6C90E;
}

footer {
    display: flex;
    background-color: #303841;
    padding: 15px 60px;
    width: 100%;
    border-top: solid 1px #ffffff;
}

footer a{
    text-align: center;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-transform: none !important;
    font-size: 12px;
    transition: all ease .3s;
}

footer a:hover{
    color: #f6c90e !important;
    text-decoration: none;
}



@media screen and (max-width:991.5px){
    .nav-desktop {
        display: none;
    }

    .header.header-mobile {
        display: flex;
    }

    .menu-custom-mobile .nav-mobile {
        padding: 95px 20px 10px 20px;
    }

    .menu-custom-mobile {
        padding: 0;
        height: 100vh !important;
    }

    .menu-custom-mobile ul li a {
        opacity: 1;
    }

    .header-ext .btnMenu.on .line-burguer,
    .header-ext.change .line-burguer {
        background-color: #ffffff !important;
    }

    .header-ext .logo.on-logo {
        filter: invert(100%) sepia(29%) saturate(0%) hue-rotate(141deg) brightness(104%) contrast(105%) !important;
    }

    .title h3{
        text-align: center;
        font-size: 2rem;
    }

    .title h2 {
        font-size: 3.5rem;
        margin: 5px;
        text-align: center;
    }

    .title .dev{
        height: 40px;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
    }

    .title .dev h1 {
        font-size: 1.4rem;
    }

    .i-skill{
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;
    }

    .i-skill i{
        font-size: 2rem;
    }

    #home .title{
        margin-bottom: 30px;
    }

    .img-splash img {
        width: 100%;
        max-width: 250px;
    }

    .titulares{
        font-size: 25px;
    }

    .sobreMi p{
        font-size: 15px;
    }

    .contSkill .titulares{
        margin-left: 0 !important;
    }
}

@media screen and (max-width:767.5px){
    .descrip-card{
        margin-bottom: 40px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .contImg{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .card {
        padding: 40px;
    }

    .card02 .row{
        flex-direction: column-reverse;
    }

    form{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 576px){
    #home{
        padding: 100px 30px 80px 30px;
    }

    .sobreMiCont,
    .proyectos,
    .contacto{
        padding: 60px 30px 50px 30px;
    }

    .contSkill {
        padding: 15px 30px 80px 30px;
    }


    .sobreMiCont .skill, 
    .sobreMiCont .col-lg-3,
    .sobreMiCont .col-sm-12,
    .sobreMiCont .col-md-4,
    .contacto .col-lg-6,
    .contacto .col-md-6,
    .contacto .col-sm-12{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header-mobile{
        padding: 0 30px;
    }

    form {
        padding: 25px 15px;
    }

    .title h3 {
        font-size: 1.2rem;
    }

    .title h2 {
        font-size: 2.5rem;
    }

    .title .dev h1 {
        font-size: 1.2rem;
    }

    .title .dev {
        height: 30px;
    }

    .i-skill i {
        font-size: 30px;
    }

    .img-splash img {
        width: 100%;
        max-width: 180px;
    }

    .titulares {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .sobreMi p {
        font-size: 14px;
    }

    .sobreMi a {
        padding: 8px 16px;
        font-size: 14px;
    }

    .descrip-card h4{
        font-size: 18px;
    }
    
    .descrip-card p{
        font-size: 14px;
    }

    .btn-card{
        font-size: 11px;
    }

    .card{
        padding: 30px;
    }



}

